#img-blockly {
  width: 100%;
  height: 100%;
}

[class*= "col"] {
  border: 2px solid white;
}
#blockly-col {
  border-right: 0px;
}

#blockly-img-col {
  border-left: 0px;
}
#call-to-action {
  margin-top: 25px;
}
