#appSpace {
  height: 80vh;
  max-height: 80vh;
}

#blocklyArea {
  height: 80vh;
}

#outputColumn {
  height: 80vh;
  max-height: 80vh;
}

#show-dashboard-button {
  margin-bottom: 1rem;
}

.columnHeader {
  height: 5%;
}

.columnContent {
  height: 50%;
}

#outputArea {
  display: block;
  max-height: 100%;
}

#scroller {
  max-height: 100%;
}

@media screen and (min-width: 676px) {
  .modal-dialog {
    max-width: 600px; /* New width for default modal */
  }
}
@media screen and (min-width: 1200px) {
  .modal-dialog {
    max-width: 1000px; /* New width for default modal */
  }
}
#scroller * {
  /* don't allow the children of the scrollable element to be selected as an anchor node */
  overflow-anchor: none;
}

#anchor {
  /* allow the final child to be selected as an anchor node */
  overflow-anchor: auto;

  /* anchor nodes are required to have non-zero area */
  height: 1px;
}

#workspace-header {
  margin: 0.5rem;
  padding-top: 3rem;
}

footer {
  background-color: white;
}
