main {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

#workspace-header {
  padding-top: 4rem;
  flex: 0 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#command-buttons {
  display: flex;
  flex-direction: row;
}

#command-buttons > * {
  margin: 5px;
  width: max-content;
}

#workspace-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex: 1 1 auto;
}

#blockly-area,
#blockly-div {
  width: 70% !important;
  flex: 0 0 70% !important;
  max-width: 70% !important;
}

#output-column {
  flex: 1;
  display: flex;
  overflow: auto;
  flex-direction: column;
  width: 30%;
  margin-left: 0.6rem;
  margin-right: 0.6rem;
  max-height: 100%;
}

#output-column > * {
  padding-top: 0.5rem;
}

#output-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#output-header > * {
  width: fit-content;
  height: min-content;
}

#output-content {
  background-color: whitesmoke;
  display: flex;
  height: 50vh;
}

#workspace-footer {
  flex: 0 1 40px;
}

@media screen and (min-width: 676px) {
  .modal-dialog {
    max-width: 600px; /* New width for default modal */
  }
}
@media screen and (min-width: 1200px) {
  .modal-dialog {
    max-width: 1000px; /* New width for default modal */
  }
}

#spinner {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: white;
  z-index: 1;
}
