#appSpace {
    height: 80vh;
    max-height: 80vh;
}

#blocklyArea {
    height: 80vh;
}

#outputColumn {
    height: 80vh;
    max-height: 80vh;
}

#buttonColumn {
    max-height: 100%
}

#run-button {
    width: 100%;
    color: green;
    height: 12%;
}

#kill-button {
    width: 100%;
    color: red;
}

#show-button {
    margin-top: 50px;
    width: 100%;
}

#clear-button {
    width: 100%;
}

.columnHeader {
    height: 5%;
}

.columnContent {
    height: 95%;
}

#outputArea {
    display: block;
    max-height: 100%;
}

#scroller {
    max-height: 100%;
}